---
name: CI

on:
  pull_request:
  push:
    branches: main
  schedule:
  - cron: '5 0 * * *'

jobs:
  examples:
    name: Examples
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Run mirgecompare examples for vtu, pvtu, xdmf, hdf5
      run: |
        python ./mirgecompare.py fld-wave-eager-0000.vtu autoignition-000000-0001.vtu vtu
        python ./mirgecompare.py fld-wave-eager-mpi-000-0000.pvtu autoignition-000000.pvtu pvtu
        python ./mirgecompare.py visualizer_xdmf_box_2d.xmf visualizer_xdmf_simplex_2d.xmf xdmf
        python ./mirgecompare.py visualizer_xdmf_box_2d.h5 visualizer_xdmf_simplex_2d.h5 hdf5
